{% extends "layout.html"%}

{% block title %}
    AESL
{% endblock %}

{% block main%} 


    <div class="banner-img w-100 vh-100 d-flex mb-5">
    </div>

    <!-- About -->
    <div class="container m-b-small">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-3 green" id="about">About Us</h1>
                <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                <p class="lead justify">
                    Absolute Engineering Services Limited was established in February 2000 with a strong focus on Project Management and Engineering Consultancy. 
                    Since then we have expanded the scope of our operations to include the provision of labor and services for Health 
                    and Safety, Asset Management, Mechanical & Electrical Maintenance and Water Management systems. 
                    AESL is committed to providing customers with the highest service and performance, based on continuous self 
                    evaluation of our operational philosophies and ongoing training towards the ultimate goal of continuous 
                    improvement to achieve Best in Class status. In this way AESL is determined to meet, satisfy and surpass the 
                    myriad needs and requirements of our clientele. This we consider to be pivotal in our success as we maintain 
                    transparency, honesty and integrity in all our business dealings. Our reputation speaks for itself.  
                </p>
            </div>
        </div>
    </div>

    <!-- Services -->
<div class="container text-center m-b-small">
    <h1 class="display-3 green" id="services offered">Services Offered</h1>
    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
</div>
    <div class="container m-b-small">

        <div class="row">           
            <div class="col">
                <h6 class="display-6 mb-5" id="Plant_mgmt">Plant Asset Management</h6>
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="/static/plant_mgmt.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">One of AESL’s key offerings is the focus on the clients' asset in the built environemnt. 
                        It encompasses a set of Asset Maintenance Management decision support techniques, tools, systems and activities, 
                        geared toward supporting the enterprise’s strategic objectives.
                        These include: 
        
                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset Maintenance Management System Audits
                        </p>
                        
                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset Maintenance Management system re-engineering
                        </p>
                        
                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset Maintenance Program Implementation
                        </p>
                        
                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset/Equipment Condition Assessment and Monitoring
                        </p>
                            
                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset Maintenance Management Training 
                        </p>  

                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset  Shutdown Management
                        </p>

                        <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                            Asset Shutdown Execution 
                        </p>               
                    </p>
                    </div>
                </div>
            </div> 

             <div class="col">
                <h6 class="display-6 mb-5" id="Personel_mgmt">Personnel <br> Management</h6>
                    <div class="card" style="width: 22rem;">
                        <img class="card-img-top" src="/static/Toolbox meeting.webp" alt="Card image cap">
                        <div class="card-body">
                             <p class="card-text">
                                AESL prides itself on our personnel quality as a team that embraces and lives the essence of our core beliefs and value system. 
                                Beyond this unity around our core ideals is a wealth of knowledge and expertise that lend itself to an excellence-driven 
                                organization comitted to continuous improvement in all its processes. We provide personnel in all realms of business:
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Engineering
                                </p>
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Information Technology Support
                                </p>
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Finance & Administraion
                                </p>
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Operations
                                </p>
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Mechanical & Electrical Maintenance
                                </p>
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Instrumentation
                                </p>
                                
                                <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                    Logistics
                                </p>
                                
                                
                                
                                </p>
                        </div>
                    </div>
            </div>
                
                    <div class="col">
                        <h6 class="display-6 mb-5" id="Water_mgmt">Water <br> Management</h6>
                        <div class="card" style="width: 22rem;">
                            <img class="card-img-top" src="/static/water_mgmt.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Another of AESL’s key offerings is the quantitative knowledge/expertise based around water treatment management
                                     solutions harnessed over 25 years of operations across the Caribbean and Central America.
                                    These include consultancy and the provision of specialty chemicals for the operations of a variety of water 
                                    aplications such as:
                                    
                                    <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                        Cooling Water Treatment
                                    </p>
                                    
                                    <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                        Boiler Feedwater Treatment
                                    </p>
                                    
                                    <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                        Boiler Water Treatment
                                    </p>
                                    
                                    <p class="lead text-muted"><i class="fa-solid fa-circle-dot green"></i>
                                        Waste Water Treatment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </p>                                                                            
                                </p>
                            </div>
                    </div>
            </div>
    </div> 
</div>  
<hr style="width:80%; margin-left:10% !important; margin-right:25% !important; margin-bottom:10% !important;" />

    <!-- Mission -->
    <div class="container mb-5">
        <div class="row">
            <div class="col">
                <h1 class="display-3 green" id="mission">Our Mission. <i class="fa-solid fa-rocket fa-shake"></i></h1>
                <p class="lead justify">At Absolute Engineering Services Ltd. (AESL) we strive to stay ahead of our 
                    customer’s next challenge. This begins with our legacy of industrial expertise and continues with our 
                    ongoing innovations. We match each customer’s unique process with the right people, the right experience 
                    and the right technology. AESL provides consultancy expertise for Asset Management and Water Management 
                    Solutions, but we are so much more than a supplier. Our team builds deep business relationships to provide 
                    solutions and results that our partners value. We are always strategically positioned... for the genesis of every solution 
                    our customers look to us. Absolute Engineering Services Ltd. seeks to unlock the full utility of our clients’ assets in the ‘
                    Built Environment’ by providing best-in-class solutions for Asset Maintenance, Water Treatment Management, Personnel Resources and 
                    Industrial Services.
            
                </p> 
            </div> 
        
            <div class="col">
                <img src="/static/mission.jpg" alt="Landscape" class="img-thumbnail img-responsive rounded float-right" width="800px" height="800px">
            </div> 
        </div>
    </div>
  
        <!-- Bonds -->
        <div class="container m-b-small">
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-3 green" id="products">Building Stronger Bonds</h1>
                    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                    <p class="lead justify">AESL recognizes the importance of understanding our clients core business so as to 
                        provide the best suited  approach that affords the the client the advantage of our  extensive knowledge
                        base and combined experiences to generate value added solutions uniquely tailored to each enterprise.
                        Our implementation approach also takes into account our Client’s existing human resource 
                        capability and maps a human resource development plan to address any identified skill or knowledge gaps.
                        AESL can directly implement extensive corporate training and development interventions or advise on 
                        appropriate courses of study to be implemented by others. Additionally we can source appropriately 
                        qualified resources to assist the enterprise through specific periods or projects.                 
                    </p> 
                </div>
            </div> 
        </div>
    


        <!-- Our Team -->
        <div class="container m-b-small">
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-3 green" id="about">Our Team</h1>
                    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                    <figure class="snip1533">
                        <figcaption>
                        <blockquote>
                            <p>Wessley Smith, Founder of AESL has over 28 years of experience in the Oil, 
                                Gas and Mining sectors. He has extensive knowledge and experience in the fields of 
                                Process/Plant Engineering, HSEQ Management, Specialty Chemical Treatment of Water Systems and
                                Refinery Process Treatment.
                            </p>
                        </blockquote>
                        <h3>Wessley Smith</h3>
                        <h4>Managing Director</h4>
                        </figcaption>
                    </figure>
                    <figure class="snip1533">
                        <figcaption>
                        <blockquote>
                            <p>Lennox Munroe has over 40 years of experience in the Oil and Gas sector. He is highly valued for his business 
                                guidance skills. He has worked his way through various technical, 
                                supervisory and managerial positions in the areas of operations, maintenance and reliability.</p>
                        </blockquote>
                        <h3>Lennox Munroe</h3>
                        <h4>Director</h4>
                        </figcaption>
                    </figure>
                    <figure class="snip1533">
                        <figcaption>
                        <blockquote>
                            <p>Wayne David has over 30 years of experience in the Oil and Gas sector. 
                                He has extensive knowledge, having worked his way through various technical, s
                                upervisory and managerial positions in the areas of operations, maintenance and reliability. 
                            </p>
                        </blockquote>
                        <h3>Wayne David</h3>
                        <h4>Director</h4>
                        </figcaption>


                </div>
            </div>
        </div>

        <!-- Values -->
        <div class="container m-b">
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-3 green" id="products">Our Values <i class="fa-solid fa-handshake"></i></h1>
                    <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
                    <p class="lead justify">We believe that the sustainability of any business is dependent on adherence to a 
                    definitive set of values and core beliefs. This is supported by sound governance based on ethical 
                    standards.
                    In this regard we seek to champion to the following values:
        
                    <p class="lead justify text-muted"><i class="fa-solid fa-angles-right green"></i> Integrity</p>
                    <p class="lead justify text-muted"><i class="fa-solid fa-angles-right green"></i> Family</p>
                    <p class="lead justify text-muted"><i class="fa-solid fa-angles-right green"></i> Loyalty</p>
                    <p class="lead justify text-muted"><i class="fa-solid fa-angles-right green"></i> Personnel/Sustainable development</p>
                    <p class="lead justify text-muted"><i class="fa-solid fa-angles-right green"></i> Health & Wellness</p>                              
                    </p> 
                </div>
            </div> 
        </div>
        
</body> 
{% endblock %}
